@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("truetype"); }
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, pre,
a, code, em, img, kbd, b, i, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td, embed,
figure, figcaption, footer, header, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  vertical-align: baseline; }

figcaption, figure, footer, header, nav, section {
  display: block; }

ol, ul, li {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none; }

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  .pace .pace-progress {
    background: #FFECB2;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px; }

.pace-inactive {
  display: none; }

.lightwidget__tile {
  padding: 0; }

body {
  font-family: "Roboto-Regular", Arial;
  overflow-x: hidden;
  background-color: #161616; }

img {
  max-width: 100%; }

.btn {
  font: 500 16px "Roboto-Regular", Arial;
  background-color: #fff;
  border-radius: 0px;
  border: none;
  color: #161616;
  padding: 12px 35px; }
  .btn.active, .btn:active {
    outline: none;
    border: none;
    box-shadow: none; }

.page-title {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 50px; }
  .page-title h1 {
    color: #fff;
    font: bolder 50px "Roboto-Bold", Arial;
    background-image: -webkit-linear-gradient(#161616, #FFECB2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px; }
  .page-title a {
    color: #fff;
    text-transform: uppercase;
    font: 600 14px "Roboto-Regular", Arial;
    letter-spacing: 4px; }
    .page-title a i {
      padding-right: 5px;
      vertical-align: middle;
      color: #FFECB2;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; }
    .page-title a:hover i {
      padding-right: 10px; }

footer#others {
  width: 100%;
  min-height: 80px;
  margin-top: 100px; }

section#others {
  position: relative; }

.news, .works, .bio, .contact {
  margin-top: 50px; }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 25%);
  -ms-transform: translate(0, 25%);
  -o-transform: translate(0, 25%);
  transform: translate(0, 25%); }

/* .modal-fullscreen */
.modal-fullscreen {
  background: transparent; }
  .modal-fullscreen button.close {
    position: absolute;
    top: -80px;
    right: 0;
    z-index: 9999;
    font-size: 30px;
    text-shadow: none;
    opacity: 1;
    color: #fff; }
  .modal-fullscreen .close:focus, .modal-fullscreen .close:hover {
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5; }
  .modal-fullscreen .modal-content {
    background: #fff;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .modal-fullscreen .modal-content .modal-header {
      margin-top: 20px;
      font-size: 20px;
      border: none; }
    .modal-fullscreen .modal-content .modal-body {
      padding: 10px; }
    .modal-fullscreen .modal-content .modal_body {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      max-width: 100%; }
      .modal-fullscreen .modal-content .modal_body .frame {
        width: 600px;
        max-width: 600px; }
      .modal-fullscreen .modal-content .modal_body .frame-info {
        width: 500px; }
        .modal-fullscreen .modal-content .modal_body .frame-info h1 {
          font-size: 25px;
          font-weight: 600;
          padding-bottom: 10px; }
        .modal-fullscreen .modal-content .modal_body .frame-info p {
          padding-bottom: 5px; }
          .modal-fullscreen .modal-content .modal_body .frame-info p span.title {
            font-weight: 600;
            color: #fff;
            background-color: #161616;
            padding: 2px 5px; }

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */
.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px; } }
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px; } }
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px; } }
header {
  margin-top: 15px; }
  header .navbar {
    border-radius: 0;
    margin-bottom: 0; }
    header .navbar .navbar-header .navbar-brand {
      color: #fff;
      font: 600 18px "Roboto-Regular", Arial; }
    header .navbar .navbar-nav li a {
      color: #fff;
      padding: 10px 0 10px 30px;
      position: relative; }
      header .navbar .navbar-nav li a.active:before {
        content: '';
        width: 85%;
        height: 2px;
        background-color: #FFECB2;
        position: absolute;
        top: 50%;
        left: 25%; }
      header .navbar .navbar-nav li a:hover, header .navbar .navbar-nav li a:focus {
        background-color: transparent; }
      header .navbar .navbar-nav li a:after {
        content: '';
        width: 0%;
        height: 2px;
        background-color: #FFECB2;
        position: absolute;
        top: 50%;
        left: 25%;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
      header .navbar .navbar-nav li a:hover:after {
        width: 85%; }

i.ti-menu {
  color: #fff;
  font-size: 20px; }

#banner {
  width: 100%;
  min-height: 100vh;
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100; }
  #banner:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(22, 22, 22, 0.7);
    z-index: -80; }
  #banner h1 {
    color: #fff;
    font: 900 50px "Roboto-Bold", Arial;
    letter-spacing: 40px;
    margin-bottom: 30px; }
  #banner p {
    color: #fff;
    font: normal 25px "Roboto-Regular", Arial;
    letter-spacing: 5px; }

footer#home {
  width: 100%;
  min-height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff; }
  footer#home .home-foot {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    footer#home .home-foot p {
      font-size: 14px; }
    footer#home .home-foot ul.foot-social li {
      display: inline;
      margin-right: 25px; }
      footer#home .home-foot ul.foot-social li:last-child {
        margin-right: 0; }
      footer#home .home-foot ul.foot-social li a i {
        color: #fff;
        font-size: 20px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        border-left: 2px solid transparent;
        padding-left: 5px; }
        footer#home .home-foot ul.foot-social li a i:hover {
          border-color: #fff; }

#news .news {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  #news .news .box {
    margin-right: 50px; }
    #news .news .box .item {
      max-width: 300px;
      width: 300px; }
      #news .news .box .item .img {
        max-width: 100%;
        width: 100%;
        height: 270px;
        position: relative;
        margin-bottom: 20px;
        cursor: pointer; }
        #news .news .box .item .img img {
          max-height: 270px;
          height: auto;
          display: block; }
        #news .news .box .item .img .info {
          display: none;
          width: 100%;
          height: 100%;
          background-color: #fff;
          padding: 20px;
          position: absolute;
          top: 0;
          left: 0;
          -webkit-transition: all 0.4s ease-out;
          -moz-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out; }
          #news .news .box .item .img .info p {
            color: #000;
            line-height: 1.5; }
          #news .news .box .item .img .info span.date {
            font: normal 16px "Roboto-Regular", Arial;
            position: absolute;
            bottom: 20px; }
          #news .news .box .item .img .info i {
            position: absolute;
            bottom: 20px;
            right: 20px; }
      #news .news .box .item h3 {
        color: #fff;
        font: 300 20px "Roboto-Regular", Arial; }
    #news .news .box:last-child {
      margin-right: 0; }

.home-foot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .home-foot p {
    font-size: 14px;
    color: #fff; }
  .home-foot ul.foot-social li {
    display: inline;
    margin-right: 25px; }
    .home-foot ul.foot-social li:last-child {
      margin-right: 0; }
    .home-foot ul.foot-social li a i {
      color: #fff;
      font-size: 20px;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      border-left: 2px solid transparent;
      padding-left: 5px; }
      .home-foot ul.foot-social li a i:hover {
        border-color: #fff; }

.works .grid-item {
  cursor: pointer; }
  .works .grid-item .portfolio {
    margin-bottom: 35px; }
    .works .grid-item .portfolio .short-info {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: space-between; }
      .works .grid-item .portfolio .short-info h1.movie-title {
        font-size: 20px;
        color: #fff; }
      .works .grid-item .portfolio .short-info span {
        color: #fff; }

.bio .about {
  max-width: 100%;
  width: 1170px;
  min-height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px; }
  .bio .about .profile-img {
    width: 450px;
    height: 450px;
    background: #FFECB2;
    margin-bottom: 30px; }
  .bio .about .details {
    width: 650px;
    min-height: 450px; }
    .bio .about .details h1 {
      font: 600 25px serif, arial;
      color: #fff;
      padding-bottom: 15px;
      letter-spacing: 1px; }
      .bio .about .details h1 span {
        font-style: italic; }
    .bio .about .details span.title {
      color: #FFECB2;
      font: 800 16px "Roboto-Bold", Arial; }
.bio p {
  color: #fff;
  line-height: 2; }

.contact input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset; }
.contact form:invalid .material-button {
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none; }
.contact .material-button {
  padding: 8px 10px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #FFECB2;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(158, 158, 158, 0.2);
  transition: background-color .2s, color .2s; }
.contact .material-input {
  height: 70px; }
  .contact .material-input label {
    line-height: 62px;
    height: 46px; }
.contact .material-textarea {
  height: 152px; }
  .contact .material-textarea label {
    line-height: 62px;
    height: 130px; }
  .contact .material-textarea textarea:invalid ~ #counter {
    color: red; }
    .contact .material-textarea textarea:invalid ~ #counter:after {
      color: red; }
  .contact .material-textarea textarea:placeholder-shown:invalid ~ #counter {
    color: #000; }
    .contact .material-textarea textarea:placeholder-shown:invalid ~ #counter:after {
      color: #000; }
  .contact .material-textarea textarea ~ #counter {
    position: absolute;
    bottom: 3px;
    right: 0;
    color: #000;
    font-size: 12px; }
    .contact .material-textarea textarea ~ #counter:after {
      content: ' / 500';
      color: #000; }
.contact .material-input, .contact .material-textarea {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto 6px auto;
  overflow: hidden;
  font-family: arial, sans-serif; }
  .contact .material-input label, .contact .material-input input, .contact .material-input textarea, .contact .material-input .error, .contact .material-textarea label, .contact .material-textarea input, .contact .material-textarea textarea, .contact .material-textarea .error {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: 16px; }
  .contact .material-input textarea, .contact .material-textarea textarea {
    height: 100px;
    resize: none; }
  .contact .material-input input, .contact .material-input textarea, .contact .material-textarea input, .contact .material-textarea textarea {
    top: 12px;
    border: none;
    margin: 8px 0;
    background: none;
    z-index: 2;
    color: #fff; }
    .contact .material-input input:focus, .contact .material-input textarea:focus, .contact .material-textarea input:focus, .contact .material-textarea textarea:focus {
      outline: none; }
    .contact .material-input input:focus + label, .contact .material-input input:valid + label, .contact .material-input input:not(:placeholder-shown) + label, .contact .material-input textarea:focus + label, .contact .material-input textarea:valid + label, .contact .material-input textarea:not(:placeholder-shown) + label, .contact .material-textarea input:focus + label, .contact .material-textarea input:valid + label, .contact .material-textarea input:not(:placeholder-shown) + label, .contact .material-textarea textarea:focus + label, .contact .material-textarea textarea:valid + label, .contact .material-textarea textarea:not(:placeholder-shown) + label {
      line-height: 18px;
      font-size: 12px; }
    .contact .material-input input:placeholder-shown ~ .error, .contact .material-input input:valid ~ .error, .contact .material-input textarea:placeholder-shown ~ .error, .contact .material-input textarea:valid ~ .error, .contact .material-textarea input:placeholder-shown ~ .error, .contact .material-textarea input:valid ~ .error, .contact .material-textarea textarea:placeholder-shown ~ .error, .contact .material-textarea textarea:valid ~ .error {
      opacity: 0; }
    .contact .material-input input:focus + label, .contact .material-input textarea:focus + label, .contact .material-textarea input:focus + label, .contact .material-textarea textarea:focus + label {
      color: #FFECB2; }
      .contact .material-input input:focus + label:after, .contact .material-input textarea:focus + label:after, .contact .material-textarea input:focus + label:after, .contact .material-textarea textarea:focus + label:after {
        visibility: visible;
        left: 0;
        width: 100%;
        color: #FFECB2; }
      .contact .material-input input:focus + label + .error, .contact .material-input textarea:focus + label + .error, .contact .material-textarea input:focus + label + .error, .contact .material-textarea textarea:focus + label + .error {
        opacity: 0; }
    .contact .material-input input:not(:focus):not(:placeholder-shown):invalid, .contact .material-input textarea:not(:focus):not(:placeholder-shown):invalid, .contact .material-textarea input:not(:focus):not(:placeholder-shown):invalid, .contact .material-textarea textarea:not(:focus):not(:placeholder-shown):invalid {
      transition-delay: 0s;
      color: red; }
      .contact .material-input input:not(:focus):not(:placeholder-shown):invalid + label, .contact .material-input textarea:not(:focus):not(:placeholder-shown):invalid + label, .contact .material-textarea input:not(:focus):not(:placeholder-shown):invalid + label, .contact .material-textarea textarea:not(:focus):not(:placeholder-shown):invalid + label {
        transition: all .2s 0s;
        color: red; }
        .contact .material-input input:not(:focus):not(:placeholder-shown):invalid + label:after, .contact .material-input textarea:not(:focus):not(:placeholder-shown):invalid + label:after, .contact .material-textarea input:not(:focus):not(:placeholder-shown):invalid + label:after, .contact .material-textarea textarea:not(:focus):not(:placeholder-shown):invalid + label:after {
          visibility: visible;
          left: 0;
          width: 100%;
          background: red;
          transition-delay: 0s; }
  .contact .material-input label, .contact .material-textarea label {
    color: #fff;
    transition: 0.2s all cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: inset 0px -1px #aaa;
    z-index: 1; }
    .contact .material-input label:after, .contact .material-textarea label:after {
      content: '';
      visibility: hidden;
      position: absolute;
      left: calc(50% - 5px);
      bottom: 0;
      background-color: #FFECB2;
      width: 10px;
      height: 2px;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 10; }
  .contact .material-input .error, .contact .material-textarea .error {
    position: absolute;
    bottom: 3px;
    color: red;
    font-size: 12px;
    font-style: italic;
    opacity: 1;
    transition: all .2s; }

/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1070px) {
  #banner h1 {
    letter-spacing: 30px; }

  .modal-fullscreen .modal-content .modal_body .frame {
    width: 500px; }

  .modal-fullscreen .modal-content .modal_body .frame-info {
    width: 450px;
    padding-left: 10px; } }
@media only screen and (max-width: 992px) {
  #banner h1 {
    letter-spacing: 20px; }

  .modal-fullscreen button.close {
    top: -50px; }

  .modal.in .modal-dialog {
    -webkit-transform: translate(0, 10%);
    -ms-transform: translate(0, 10%);
    -o-transform: translate(0, 10%);
    transform: translate(0, 10%); }

  .modal-fullscreen .modal-content .modal_body .frame {
    width: 100%;
    max-width: 1000px; }

  .modal-fullscreen .modal-content .modal_body .frame-info {
    width: 100%;
    padding-left: 0; } }
@media only screen and (max-width: 767px) {
  .container > .navbar-collapse {
    background-color: #161616;
    border: none;
    box-shadow: none; }

  header .navbar .navbar-nav li a.active:before {
    width: 25%;
    left: 25px; }
  header .navbar .navbar-nav li a:after {
    left: 25px; }
  header .navbar .navbar-nav li a:hover:after {
    width: 25%; }

  #banner h1 {
    font-size: 35px;
    letter-spacing: 15px; }
  #banner p {
    font-size: 20px;
    letter-spacing: 3px; }

  .page-title h1 {
    font-size: 41px; }

  .news .box {
    margin-bottom: 20px; }

  .modal-fullscreen button.close {
    right: 10px; } }
@media only screen and (max-width: 570px) {
  #banner h1 {
    font-size: 30px;
    letter-spacing: 10px; }
  #banner p {
    font-size: 18px;
    letter-spacing: 1px; }

  .page-title h1 {
    margin-bottom: 20px; }

  .works .btn {
    margin-bottom: 20px; }

  footer#home .home-foot p {
    font-size: 12px; } }
@media only screen and (max-width: 539px) {
  ul.foot-social {
    padding: 15px 0; } }
@media only screen and (max-width: 480px) {
  #banner h1 {
    font-size: 25px;
    letter-spacing: 7px; } }
@media only screen and (max-width: 320px) {
  #banner h1 {
    letter-spacing: 2px; }

  footer#home .home-foot p {
    font-size: 10px; } }

/*# sourceMappingURL=style.css.map */
